/* your styles go here */
.logo-text{
color: #e0b0ff !important;
font-family: fantasy ! Important;
text-transform: uppercase;
font-size:4.3rem;
}

.call-block{
    background-color: #e0b0ff;
    font-size: 1.0rem ;
    color:#fff;
    line-height: 10px; 
    padding-bottom: 15px;
}

.call-block1{
    background-color:#040501;
    font-size: 1.0rem ;
    color:#fff;
    line-height: 10px; 
    padding-bottom: 15px;
}

.phone{color:white;
font-size: 2rem;}


#im-logo{
     margin-top: -25px;
}

.cl-white{color:#e0b0ff !important}

.head-texts{
    margin-top: 40px;
     font-family: fantasy !important;
     font-size: 3rem;
     text-transform: uppercase;
     background-color: #e0b0ff;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    /*text-shadow: rgba(255,255,255,0.2) 0px 3px 3px;*/
    text-align: center;
}

#dishes{padding-top:0 !important;
background: #2e3134;}
#adress{padding-top: 30px;
padding-bottom:50px ;}